<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/result.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>
        const getRandomColor = () => {
            const h = Math.floor(Math.random() * 360),
                s = Math.floor(Math.random() * 100) + '%',
                l = Math.floor(Math.random() * 60) + '%';
            return `hsl(${h},${s},${l})`;
        };
        function setColor() {
            var col = getRandomColor();
            document.body.style.color = col;
            var list = document.getElementsByClassName("small_box");
            for (let i = 0; i < list.length; i++) {
                list[i].style.borderColor = col;
            }
            var hsla = col.replace("hsl", "hsla");
            hsla = hsla.replace(")", ",0.3)");
            document.getElementById("actionBtn").style.boxShadow = "8px 10px 12px 0 " + hsla;
            document.getElementById("actionBtn").style.backgroundColor = col;
        }
    </script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102593791-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-102593791-1');
    </script>

    <script>
        var language = window.navigator.userLanguage || window.navigator.language;
        var lang = language.substr(0, 2).toLowerCase();
        $(document).ready(function ($) {
            $('body').addClass(lang);

            if ($('body').hasClass('ko')) {
                
            }
            else {
                $("#text").html("We found " + $('.small_box').length + " hashtags which are used today with " + $('.tag').html());
                $("#actionBtn").html("Copy all");
                $("text").each(function(index,element){
                    $( element ).html($( element ).attr("count")+" posts which<br>are using '"+$( element ).attr("name")+"'");
                }) 
            }
        });
    </script>
</head>

<body onload="setColor()">
    <div class="left">
        <% for (var i = 0; i < datas.length; i++) { %>
        <div class="small_box">
            <br><br>
            <span class="title"><%= datas[i].name %></span>
            <br>
            <text name=<%= datas[i].name %> count=<%= datas[i].count %> >
                이(가) 포함된 게시글
                <%= datas[i].count %>개
            </text>
            <br><br><br>
        </div>
        <% } %>
    </div>

    <div class="right">
        <div>
            <div class="rediv">
                <img src="/images/back.svg" alt="" width="22" height="22">
                <a href="/search" style="text-decoration: none"><span class="reBtn">&nbsp;다시 검색하기</span></a>
            </div>

            <div class="content">
                <span class="tag" na=<%= tag %>>'
                    <%= tag %> '</span><br>
                <br>
                <span id="text">와(과) 가장 최근에 함께 쓰인 해시태그
                    <%= datas.length %>개를 찾았습니다.</span>
                <br>
                <!--아래 버튼을 눌러 클립보드에 복사하세요.-->
                <br>
                <br>
            </div>
            <button id="actionBtn" class="clipboard" data-clipboard-text="script:hashtagsToString()">태그 전부 복사</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

    <script>
        $(document).ready(function () {
            var clipboard = new Clipboard('.clipboard');
            $("#actionBtn").attr('data-clipboard-text', hashtagsToString())
        })

        document.getElementById("actionBtn").addEventListener('click', function () {
            let str = hashtagsToString();
            //Clipboard.copy(str)
            var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
            if (iOS) {
                prompt("iOS에서는 직접 복사를 해야합니다. 아래 내용을 드래그해 복사해주세요.", str);
                //prompt("iOS에서는 직접 복사를 해야합니다. 아래 내용을 드래그해 복사해주세요.",str);
            }
        })


        function hashtagsToString() {
            var titles = document.getElementsByClassName("title");
            var str = "#";
            var hashtag = (document.getElementsByClassName("tag")[0].getAttribute("na"));
            str+=hashtag+" ";

            for (var i = 0; i < titles.length; i++) {
                str += titles[i].innerHTML + " ";
            }

            str+= " #instag"

            return str;
        }
    </script>
</body>

</html>