<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/stylesheets/result.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>


</head>

<body>
    <div class="left">
        <% for (var i = 0; i < datas.length; i++) { %>
        <div class="small_box">
            <br><br>
            <span class="title">
                <%= datas[i].name %></span>
            <br>
            최근 ‘
            <%= datas[i].name %>’ 태그가 <br>포함된 게시글
            <%= datas[i].count %>개
            <br><br><br>
        </div>
        <% } %>
    </div>

    <div class="right">
        <div>
            <div class="rediv">
                <img src="/images/back.svg" alt="" width="22" height="22">
                <a href="/search" style="text-decoration: none"><span class="reBtn">&nbsp;다시 검색하기</span></a>
            </div>

            <div class="content">
                <span class="tag">'
                    <%= tag %> '</span><br>
                <br>
                와(과) 가장 최근에 함께 쓰인 해시태그
                <%= datas.length %>개를 찾았습니다.
                <br>
                <!--아래 버튼을 눌러 클립보드에 복사하세요.-->
                <br>
                <br>
                <button id="actionBtn" onclick="copy()">태그 전부 복사</button>
            </div>
        </div>
    </div>

    <script>
        function copy(el) {
            // resolve the element
            el = (typeof el === 'string') ? document.querySelector(el) : el;

            // handle iOS as a special case
            if (navigator.userAgent.match(/ipad|ipod|iphone/i)) {

                // save current contentEditable/readOnly status
                var editable = el.contentEditable;
                var readOnly = el.readOnly;

                // convert to editable with readonly to stop iOS keyboard opening
                el.contentEditable = true;
                el.readOnly = true;

                // create a selectable range
                var range = document.createRange();
                range.selectNodeContents(el);

                // select the range
                var selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                el.setSelectionRange(0, 999999);

                // restore contentEditable/readOnly to original state
                el.contentEditable = editable;
                el.readOnly = readOnly;
            }
            else {
                el.select();
            }

            // execute copy command
            document.execCommand('copy');
        }
        function copy() {
            var titles = document.getElementsByClassName("title");
            var str = "";

            for (var i = 0; i < titles.length; i++) {
                str += titles[i].innerHTML + " ";
            }

            copy(el);
        }
    </script>
</body>

</html>